@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  background-color: #444;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
  display: block;
}

h1 {
  color: 'darkslategray';
}

.gridster .widget.gs_w {
 text-align: center;
 display: table-cell;
 vertical-align: middle;
}

/*
.gridster .widget-text.gs_w {
  background-color: lightgoldenrodyellow;
}
*/

.gridster .widget-list.gs_w {
  background-color: #12b0c5;
  text-align: left;
}

.gridster .widget-list.gs_w h2{
  text-align: center;
}

.gridster .widget-twitter.gs_w{
  background-color: lightgoldenrodyellow;
}

.widget-twitter > h1{
  font-family: "Open Sans";
  color: 'orange';
}

.gridster .widget-meter.gs_w{
  background-color: #9c4274;
}